<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      Inicio
    </a>
    <a class="navbar-brand" href="/perfil">
        <img id="perfil" src="/img/perfil.png" width="30px" height="30px" class="d-inline-block align-text-top"> <%= login.usuario %> 
    </a>
</nav>